body{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  background-color: #C55E5E;
}
#app{
  font-family: 'Amatic SC', cursive;
  border: 3px solid white; 
  height: 500px;
  width: 500px;
  border-radius:100%;
  position: relative;
  color:#ffa900;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  text-shadow: 1px 1px 2px black;
  .list{
    position:absolute;
    background:green;
    height:50px;
    width:100px;
    border-radius:100% 0 100% 0;
    
  }
  .first{
    transform: rotate(50deg);
    left:150px;
    top:-47px;
  }
  .second{
    left:250px;
    top:-49px;
  }
  .main{
    position:absolute;
    background:green;
    left:245px;
    top:-49px;
    width:14px;
    height: 50px;
   
    border-radius:10px 5px 0 0;
    
  }
  #pomdoro{
    width: 80%;
    margin: auto;
    text-align: center;
    h1 {
      margin-top: 1em;
    }
    .options{
      display:flex;
      justify-content: space-around; 
      font-size:1.3em;
      div{
        border-top:2px solid white;
        border-bottom:2px solid white;
        p{margin:0}
        span{
          display: inline-block;
          width:1.4em;
        }
        i{
          cursor: pointer;
          font-size:1.4em
  
        }
      }
    }
    .display{
      font-size: 2em;
      border: 8px solid white;
      border-radius:30%;
      margin-top:1em;
      *{margin:0}
      p{
        font-size: 2em;
      }
    }
    .btns{
      margin-top: 2em;
      *{background: inherit;
        color: inherit;
        font-size: 1.8em;
        border: none;
        cursor: pointer;
        
        text-shadow: 1px 1px 2px black;
      }
    }
    a {
      line-height: 5;
      color:inherit;
    }
    a:hover{
      transition: color 1s;
      color:black;
    }
  }
}
